
.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}
/*
.hero::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-theme-color);
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 100%;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-theme-color);
} */



.core .card__body {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-top: 40px;
    margin-bottom: -50px;
    margin-left: 5px;
    gap: calc(var(--element-spacing) * 0.25);
    color: white;
    font-family: 'YourFontName', sans-serif;
    text-align: center;
    
}

.card__title {
    margin: 0;
    font-size: 2rem;
}
.card__subtitle {
    margin: 0;
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.card__text {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
}

.icon {
    color: var(--primary-text-color);
    font-size: calc(var(--element-size) * 2);
    text-decoration: none;
}

.icon i {
    display: flex;
}
.container {
    max-width: 1024px;
    padding-right: calc(var(--element-spacing) * 0.5);
    padding-left: calc(var(--element-spacing) * 0.5);
    margin: 0 auto;
}

.flexbox {
    display: flex;
}

.flexbox.flexbox--centered-sides {
    align-items: center;
    justify-content: space-between;
}

.flexbox .flexbox--responsive {
    flex-direction: column;
}

@media (width >=768px) {
    .flexbox .flexbox--responsive {
        flex-direction: row;
    }
}





