
.carousel-item {

    position: relative;
    width: 100%;
  

}
.carousel-item img {

    width: 100%;
    height: auto;
    max-height: 750px; 
    object-fit: cover;
}

.carousel-inner{
    top: 80px;
    height: 697px;
    width: 100%;
    object-fit: cover;

}
@media (max-width: 800px) {
    .carousel-inner {
        top: 80px;
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
  }